$button-active-color: #2699fb;
$button-hover-color: #2086df;
$inner-form-color: #f1f9ff;
$border-form-color: #bce0fd;
$visits-badge-active-color: #4b74ff;
$visits-badge-color: rgba($visits-badge-active-color, 0.84);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  height: 100%;
}

.navbar {
  margin: 0px auto;
  padding: 0px;
  background-color: #2699fb;
  z-index: 1;
}

.logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
  transition: 0.5s;
  width: 100%;
}

.logo-text {
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
  cursor: default;
}

.logo-text:hover {
  text-decoration: none;
  color: white;
}
.logo-text:focus {
  outline: none;
}

.bottom-nav {
  width: 40%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 1px solid rgb(230, 230, 230);
  // background: url("/src/assets/svg/bottomNavbar.svg");
  background-color: #2699fb;
  clip-path: url(#bottomNavbar-path);
  z-index: 10;
}

.side-icons {
  width: 47.5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center-icon {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bn-tab {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  transition: 0.5s;
  fill: white;
}

.bn-tab:hover {
  fill: rgb(223, 223, 223);
}

.bn-icon {
  width: 30px;
  height: 30px;
}

.home {
  padding-left: 25px;
}

.patients {
  padding-left: 2.5px;
}

.pending {
  padding-right: 20px;
}

.user {
  padding-left: 40px;
}

.drugs {
  padding-left: 40px;
  color: white;
  transition: 0.6s;
}

.drugs:hover {
  color: rgb(223, 223, 223);
}

.finance {
  padding-left: 10px;
  color: white;
  transition: 0.6s;
}

.finance:hover {
  color: rgb(223, 223, 223);
}

.settings {
  padding-right: 10px;
}

.min-height {
  height: 100vh;
}

.header-text {
  font-weight: 400;
}

.col-form-label {
  color: #2699fb !important;
  font-weight: 600;
}

::placeholder {
  color: #2699fb !important;
  font-weight: 400;
}
.form-background {
  background-color: #f1f9ff;
  border-color: #bce0fd;
}

.form-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%232699FB' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  color: #2699fb;
}

.submit-button {
  border-radius: 15px;
  background-color: #2699fb;
  color: white;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: #2086df;
  color: white;
}

.modal-add-nav {
  font-size: 20px;
}

.visit-general {
  font-weight: 499;
}

.textarea-note {
  height: 144px;
}

.textarea-hopi {
  height: 253px;
}

.label-font-size {
  font-size: 30px;
  font-weight: 700;
}

.pause-side {
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -1%);
  border-radius: 15px;
  z-index: 10;
}

.prescription-side {
  position: fixed;
  top: 58%;
  right: 2%;
  border-radius: 15px;
}

.right-side-box {
  position: fixed;
  top: 47%;
  right: 2%;
  color: #2699fb;
  background-color: #f1f9ff;
  border: 1px solid #bce0fd;
  border-radius: 15px;
  width: 9%;
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
}

.right-side-box:focus {
  outline: none;
  border: 3px solid #2699fb;
}

.angle-right-icon {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
}

.right-side-box:hover {
  background-color: #e3effa;
}

.left-side-box {
  position: fixed;
  top: 47%;
  left: 2%;
  color: #2699fb;
  background-color: #f1f9ff;
  border: 1px solid #bce0fd;
  border-radius: 15px;
  width: 9%;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}
.angle-left-icon {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}

.left-side-box:hover {
  background-color: #e3effa;
}

.visit-header {
  color: #2699fb;
  font-weight: 700;
}

.checkboxes {
  padding-left: 35px;
  transition: 0.6s;
}

.systems-header {
  color: #2699fb;
}
.systems-angle {
  text-align: center;
  background-color: #f1f9ff;
  border: 1px solid #bce0fd;
  border-radius: 15px;
  cursor: pointer;
}

.tag-badge {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  // border-top: 1px solid rgb(230, 230, 230);
  // background: url("/src/assets/svg/bottomNavbar.svg");
  background-color: #2699fb;
  clip-path: url(#TagBadge-path);
}

.add-button-in-visit {
  // width: 7%;
  height: 35px;
  background-color: #2699fb;
  border: none;
  border-radius: 15px;
  color: white;
  transition: 0.5s;
}
.add-button-in-visit:hover {
  background-color: #2086df;
}

.psh-select {
  width: 90%;
}

.w-110 {
  width: 102.8%;
}

.delete-button {
  padding-top: 7%;
  padding-right: 35%;
}

.delete-button-in-visit {
  height: 40px;
  width: 100px;
}

.delete-button-morehx {
  color: #dc3545;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 2px;
}
.delete-button-morehx:hover {
  color: #bb2d3b;
}

.end-visit-button {
  height: 35px;
  border: none;
  border-radius: 15px;
}

.pause-visit-button {
  height: 35px;
  border: none;
  border-radius: 15px;
}

// .react-select-container.react-select-container {
//   background-color: #f1f9ff;
// }
.react-select__control.react-select__control {
  background-color: #f1f9ff;
  border: 1px solid #bce0fd;
}

// .react-select__control.react-select__control:hover {
//   border: 1px solid #bce0fd;
// }
.react-select__placeholder.react-select__placeholder {
  color: #2699fb;
}

.react-select__indicator-separator.react-select__indicator-separator {
  background-color: #2699fb;
}

.react-select__indicator.react-select__indicator {
  color: #2699fb;
}

.microphone {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  cursor: pointer;
  transition: 0.5s;
  // transform: translate(0, -20%);
}

.microphone:hover {
  color: #0088ff;
}
.microphone-div {
  position: absolute;
  top: 80%;
  left: 45%;
  border-radius: 50%;
  background-color: #84c6ff;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  position: fixed !important;
}

.visits-badge {
  background-color: #829fff;
  color: white;
  padding: 7.5px;
  cursor: pointer;
  transition: 0.4s;
}

.visits-badge.active {
  background-color: #4b74ff;
  padding: 10px 7.5px;
}

.visits-badge:hover {
  background-color: #4b74ff;
}

.id-width {
  width: 40px;
  text-align: center;
}
.name-width {
  width: 200px;
}
.age-width {
  width: 20px;
  text-align: center;
}
.gender-width {
}
.job-width {
}
.province-width {
}
.address-width {
}
.phone-width {
  width: 130px;
}
.weight-width {
}
.height-width {
}
.marital-width {
  width: 130px;
}
.no-visits-width {
  width: 100px;
  text-align: center;
}
.last-visit-width {
  width: 100px;
}
.history-width {
  width: 150px;
}
.surgical-width {
  width: 150px;
}

.continue-visit-button {
  color: #198754;
  cursor: pointer;
  transition: 0.6s;
}
.continue-visit-button:hover {
  color: #13663f;
}

#side-bar-settings {
  background-color: $button-active-color;
}

#side-bar {
  background-color: rgb(250, 250, 250);
  height: 100vh;
  border-right: 2px solid $inner-form-color;
  color: rgb(107, 107, 107);
  cursor: default;
}

.color-pending-side-time {
  color: $button-active-color;
}

.width-sidebar-wide {
  width: 20%;
}

.width-others-wide {
  width: 80%;
}

.nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  border-right: 1px solid black;
}

.nav_link {
  display: grid;
  grid-template: repeat(1, 1fr) / 60px 0;
  // column-gap: 4rem;
  padding: 0.5rem 0 0.5rem 0rem;
  position: relative;
  color: white;
  margin-bottom: 0.5rem;
  transition: 0.3s;
  text-decoration: none;
  border-bottom: 1px solid white;
}

.nav_link_bottom {
  display: grid;
  grid-template: repeat(1, 1fr) / 60px 0;
  padding: 0.5rem 0rem;
  position: relative;
  color: white;
  margin-bottom: 0.5rem;
  transition: all 0.3s;
  text-decoration: none;
}

.nav_link:hover,
.nav_link_bottom:hover {
  color: rgb(223, 223, 223);
  text-decoration: none;
}

.active {
  border-bottom: 4px solid white;
}

.nav-icon {
  font-size: 1.5rem;
  transition: 0.3s;
  justify-self: center;
}

.nav_name {
  grid-column: 2/4;
  justify-self: center;
}

// footer {
//   position: fixed;
//   bottom: 0;
// }

.microphone-using {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-add {
  font-size: 25px;
}

.font-normal {
  font-size: 17px;
}

.compare {
  margin-left: 15px;
  width: 30px;
  height: 30px;

  background-color: white;
  clip-path: url(#compare-path);
  transition: 0.3s;
}
.compare:hover {
  background-color: rgb(223, 223, 223);
}

.notification-square {
  position: fixed;
  width: 25%;
  height: 4.5%;
  color: white;
  right: 0;
  top: 95.5%;
  text-align: center;
  cursor: default;
  user-select: none;
}

.remaining-square {
  position: fixed;
  width: 25%;
  height: 4.5%;
  color: white;
  left: 0;
  top: 95.5%;
  text-align: center;
  cursor: default;
  user-select: none;
  z-index: 99;
  border-top-right-radius: 25px;
}

.bg-yellow {
  background-color: rgb(217, 255, 46);
  color: black;
}

.my-modal {
  transition: 0.5s;
}
.height-animation {
  max-height: 0;
  transition: max-height 0.7s ease-out;
  overflow: hidden;
}

.height-animation.active {
  max-height: 1000px;
  transition: max-height 0.7s ease-in;
}

.ros-ntransition {
  max-height: 0;
  transition: all 1.5s;
  overflow: hidden;
}

.ros-transition {
  max-height: 2000px;
  transition: all 3s;
  overflow: hidden;
}

.morehx-transition {
  max-height: 2000px;
  transition: all 3s;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
.fadeIn {
  animation: fade-In linear 0.5s;
}

@keyframes fade-In {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.rotateLeft {
  animation: rotate-Left 0.5s forwards;
}

@keyframes rotate-Left {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: none;
  }
}

.rotateRight {
  animation: rotate-Right 0.5s forwards;
}

@keyframes rotate-Right {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: none;
  }
}

.bottom-rx {
  position: fixed;
  bottom: 0;
}

.scanner-btn {
  background-color: #2699fb;
  transition: all 0.5s;
  width: 50px;
  height: 37px;
  border-radius: 5px;
  cursor: pointer;
}
.scanner-btn:hover {
  background-color: #2086df;
}
.scanner-btn-path {
  fill: white;
  transition: all 0.5s;
}
.scanner-btn-path:hover {
  fill: rgb(253, 253, 253);
}

#invx-img {
  margin: 30px;
}

.rcw-input {
  color: black;
}

.rcw-response {
  color: black;
}

.rcw-client {
  color: black;
}
.rcw-conversation-container,
.rcw-header {
  background-color: #2699fb !important;
}

.rcw-launcher {
  background-color: #2699fb !important;
}

.bell-div {
  margin-left: auto;
  margin-right: 100px;
  transform: translateY(-25px);
  background-color: #2699fb;
  color: white;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: 0.5s;
}
.bell-div:hover {
  box-shadow: 0px 6px 35px -6px rgba(0, 0, 0, 0.5);
}

.bell {
  font-size: 40px;
  padding-top: 7px;
}

/**
 * theme-aware - Change color of a css property based on the currently active theme
 *
 * @param  {key}     CSS property
 * @param  {color}   Color name defined in the themes under _color-palette.scss
 *
 * @example - @include theme-aware('background', 'color-background');
 * @returns - background: #FFF;
 */
// @mixin theme-aware($key, $color) {
//   @each $theme-name, $theme-color in $themes {
//     .theme-#{$theme-name} & {
//       #{$key}: map-get(map-get($themes, $theme-name), $color);
//     }
//   }
// }

// // So in the end we will have
// .theme-light & {
//   background: #fafafa;
// }
// .theme-dark & {
//   background: #37474f;
// }

// // Get the color-background property from the active theme map and apply its value to the "background" css property
// body {
//   @include theme-aware('background', 'color-background');
// }
.react-contexify {
  background-color: rgba(255, 255, 255, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
  box-shadow: none !important;
  width: 200px !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.react-contexify .react-contexify__submenu {
  background-color: rgb(255, 255, 255) !important;
  color: rgba(255, 255, 255, 1) !important;
  border-width: none !important;
}
.react-contexify__separator {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  background-color: rgba(0, 0, 0, 0.15) !important;
  border-bottom-width: none !important;
  box-shadow: none !important;
  // color: rgb(0, 0, 0) !important;
}
.react-contexify__item:hover {
  background-color: rgba(0, 0, 0, 0.15) !important;
}
.react-contexify__item {
  padding: 0 !important;
  background-color: none !important;
}
.react-contexify__item:not(.react-contexify__item--disabled):hover
  > .react-contexify__item__content,
.react-contexify__item:not(.react-contexify__item--disabled):focus
  > .react-contexify__item__content {
  color: black !important;
  background-color: #ddd !important;
}
.react-contexify .react-contexify__item__content {
  background-color: none !important;
  color: #000;
}
.react-contexify .react-contexify__item__content:hover {
  background-color: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 13px;
  transition: all 2.5s;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(223, 223, 223);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $button-active-color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $button-hover-color;
}

.top-alert {
  width: 100vw;
  height: 40px;
  font-weight: bold;
  color: white;
  margin-top: 10px;
  padding-top: 10px;
}

.back-button {
  position: absolute;
  top: 15%;
  left: 10%;
}
.scroll_area {
  overflow-x: hidden;
  overflow-y: auto;
}

.blue-bg {
  color: $button-active-color;
}

.side-border-subtable {
  border-left: solid $button-active-color 15px;
}

.table-gray {
  background-color: rgb(238, 238, 238);
}

.text-tiny {
  font-size: 0.7em;
}
.text-small {
  font-size: 0.85em;
}
.text-big {
  font-size: 1.4em;
}
.text-huge {
  font-size: 1.8em;
}

.fc-button-primary {
  background-color: $button-active-color !important;
  border-color: $button-active-color !important;
  transition: all 0.25s;
}

.fc-button-primary:hover {
  background-color: $button-hover-color !important;
  border-color: $button-hover-color !important;
}

.fc-button-active {
  background-color: $button-hover-color !important;
  border-color: $button-hover-color !important;
  padding-bottom: 10px !important;
  font-weight: bold !important;
}

.fc-daygrid-day-number {
  text-decoration: none !important;
  cursor: default !important;
  // border-color: $button-hover-color !important;
  // padding-bottom: 10px !important;
  // font-weight: bold !important;
}

.fc-col-header-cell-cushion {
  text-decoration: none !important;
  cursor: default !important;
  // border-color: $button-hover-color !important;
  // padding-bottom: 10px !important;
  // font-weight: bold !important;
}
.fc-list-day-text {
  text-decoration: none !important;
  cursor: default !important;
}

.rcw-widget-container {
  z-index: -1 !important;
}
.btn-latest-pending {
  background-color: rgba($color: #000, $alpha: 0);
  border: 0;
  outline: none;
}
.ck-blurred {
  border: 1px solid blue !important;
}

.editor {
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ababab;
  background: #fefefe;
}

.editor :global(.public-DraftEditor-content) {
  min-height: 140px;
}

.public-DraftStyleDefault-block {
  margin: 0 !important;
}

.editor-wrapper > p {
  margin: 0 !important;
  clear: both;
}

.react-autocomplete-textArea {
  background-color: #f1f9ff;
  border-color: #bce0fd !important;
  width: 100%;
  height: 144px;
}

#hopi {
  height: 253px;
}

.chief-complaint-note {
  background-color: #f1f9ff;
  border-color: #bce0fd !important;
  width: 100%;
  height: 144px !important;
  padding: 5px;
  outline: none;
}

.hopi {
  background-color: #f1f9ff;
  border-color: #bce0fd !important;
  width: 100%;
  height: 253px !important;
  padding: 5px;
  outline: none;
}

#results {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.old-visits-bottom {
  position: fixed;
  bottom: 5%;
  left: 40%;
  transform: translate(-50%, -1%);
  border-radius: 15px;
  z-index: 10;
}

.patient-info-bottom {
  position: fixed;
  bottom: 10%;
  left: 40%;
  transform: translate(-50%, -1%);
  border-radius: 15px;
  z-index: 10;
}
.visit-report-bottom {
  position: fixed;
  bottom: 5%;
  left: 60%;
  transform: translate(-50%, -1%);
  border-radius: 15px;
  z-index: 10;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="8px"]::before {
  content: "8";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="9px"]::before {
  content: "9";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="10px"]::before {
  content: "10";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="12px"]::before {
  content: "12";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
  content: "14";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
  content: "16";
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
  content: "18";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: "20";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
  content: "20";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
  content: "24";
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
  content: "32";
}
.ql-snow {
  .ql-picker {
    &.ql-size {
      .ql-picker-label,
      .ql-picker-item {
        &::before {
          content: attr(data-value) !important;
        }
      }
    }
  }
}

@mixin gradientAnimation($deg, $start, $second, $third, $end, $transTime) {
  background-size: 100%;
  background-image: linear-gradient(-$deg, $end, $third, $second, $start);
  position: relative;
  z-index: 100;
  border-radius: 0.25rem;
  &:before {
    background-image: linear-gradient($deg, $start, $second, $third, $end);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    z-index: -100;
    transition: opacity $transTime;
    border-radius: 0.25rem;
  }
  &:hover {
    &:before {
      opacity: 1;
      border-radius: 0.25rem;
    }
    color: white;
    border-radius: 0.25rem;
  }
}

.google-btn {
  color: white;
  border: #6c757d;
  @include gradientAnimation(
    25deg,
    rgba(234, 67, 53, 1) 38%,
    rgba(251, 188, 5, 1) 62%,
    rgba(52, 168, 83, 1) 78%,
    rgba(66, 133, 244, 1) 100%,
    0.6s
  );
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: calc(300px + 1rem);
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #008f68;
  color: #fae042;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #999;
}
